:root {
  font-family:  Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-14: 0.85em; /* Appox 14px (actual 0.875em) */
  --selected-blue: #4F45E4;
  --text-light: #808080;
  --border-color: #dadada;
}

body, html, * {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e6ecef;
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.1;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

.text-light {
  color: var(--text-light);
}

#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
}

/* React Tabs */

.tab-panel {
  flex: 1;
  padding: 30px;
  background-color: #F7FAFC;
  height: 100vh;
  overflow: auto;
}

.react-tabs__tab-list {
  list-style: none;
  font-size: var(--font-14);
  font-weight: 600;
  margin: 30px 0;
  padding: 0;
  color: #909090;
  border-bottom: 1px solid var(--border-color);
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: 2px solid transparent;
  margin-right: 30px;
  padding-bottom: 10px;
  margin-bottom: -1px;
  user-select: none;
}

.react-tabs__tab:hover {
  color: #708090;
  border-bottom: 2px solid #b3c2cc;
  transition: 0.4s ease;
}

.react-tabs__tab--selected,
.react-tabs__tab--selected:hover {
  color: var(--selected-blue);
  border-bottom: 2px solid var(--selected-blue);
  transition: 0.4s ease;
}

.react-tabs__tab--selected:focus-visible {
  outline: none;
}

/* Buttons */

.btn-default  {
  appearance: none;
  background-color: transparent;
  font-size: var(--font-14);
  font-weight: 500;
  padding: 8px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.btn-default:hover {
  border-color: var(--selected-blue);
  color: var(--selected-blue);
  transition: 0.3s ease;
}

.btn-default.disabled,
.btn-default.disabled:hover {
  color: #aaa;
  border-color: var(--border-color);
  transition: none;
}

.btn-default.full {
  width: 100%;
}

/* helpers */

.m-0 {
  margin: 0;
}

.flex-center {
  align-self: center;
  justify-self: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

